html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
    float: none;
    margin: 0;
    color: dimgray;
    font-family: "Microsoft JhengHei UI", sans-serif;
    background-color: WhiteSmoke;
  }
  
  .header{
    z-index: 5;
    width: 100%;
    height: 50px;
    margin: 0;
    position: fixed;
    background-color: #EDF7FF;
  }
  
  .logo{
    height: 46px; 
    margin-left: 1.5%; 
    margin-top: 2px;
  }

  #toggle {
    float: right;
    margin-right: 15px;
    width: 28px;
    margin-top: 8px;
    margin-bottom: 10px;
  }
  
  #toggle div {
    width: 100%;
    height: 2px;
    background: dimgray;
    margin-top: 8px;
  }

  #menu{
    z-index: 5;
    top: 50px;
    left: 70%;
    width: 30%;
    height: 90%;
    background-color: #EDF7FF;
    border-radius: 0px 0px 0px 8px;
    position: fixed;
    overflow: auto;
  }

  #menu li{
    height: 50px;
  }

  #menu li img{
    width: 30px;
    height: 30px;
    float: left;
    margin: 10px;
  }

  #menu li a{
    float: left;
    text-decoration: none;
    color: dimgray;
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 100%;
  }

  #menu li a:hover{
    background-color: rgb(215, 237, 253);
  }

  ::-webkit-scrollbar{
    width: 7px;
    height: 16px;
    background-color: aliceblue;
  }

  ::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: aliceblue;
  }

  ::-webkit-scrollbar-thumb{
    border-radius:10px;
    background-color: dimgray;
  }
  
  .clear{
    clear: both;
  }

  .title{
    float: none;
    margin: auto;
    width: 98%;
    height: 350px;
    background-image: url("../img/bg.png");
    background-repeat:no-repeat;
    background-size: cover;
  }

  .title h1{
    text-align: center;
    font-size: 50px;
    padding-top: 145px;
  }

  .title p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
  }

  .content{
    width: 98%;
    margin: auto;
    background-color:	#fff;
  }

  .status{
    float: left;
    width: 100%;
    background-color: #FFF;
    padding-bottom: 50px;
  }

  .statusContent{
    z-index: 0;
    width: 550px;
    display: table;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px 0px rgba(28, 128, 185, 0.404);
    border-radius: 2px;
    font-size: 16px;
  }

  .companion{
    float: right;
    width: 100%;
  }

  .companion img{
    float: right;
    width: 35px;
    height: 35px;
    margin: 5px;
  }

  #viewMoreImg{
    float: right;
    width: 35px;
    height: 35px;
    margin: 0px;
    margin-right: -5px;
  }

  #viewMore{
    float: right;
    width: 35px;
    height: 35px;
    margin: 5px;
    outline: none;
    border: 0;
    background-color: transparent;
  }

  .moreCompanion{
    max-width: 100%;
    min-height: 45px;
    float: right;
  }

  .moreCompanion img{
    float: right;
    width: 35px;
    height: 35px;
    margin: 5px;
  }

  .writerImg{
    float: left;
    width: 90px;
    height: 90px;
    margin-top: 20px;
    margin-left: 20px;
  }

  .writer{
    float: left;
    width: 400px;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 20px;
  }

  .time{
    float: left;
    width: 400px;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 22px;
  }

  .post_detail{
    float: left;
    width: 365px;
  }

  .eatTime{
    float: left;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
    max-height: 100px;
    word-wrap: break-word;
  }

  .postContent{
    float: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-height: 100px;
    word-wrap: break-word;
  }

  .textarea{
    overflow: auto; 
    width: 100%; 
    font-size: 18px;
    max-height: 100px;
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(255, 255, 255);  
    border: 0.5px solid rgb(144, 144, 144);
    border-radius: 3px;
    outline: none;
    font-size: 18px;
    font-family: "Microsoft JhengHei UI", sans-serif;
    color: dimgray;
  }

  .post_detail button{
    float: left;
    outline: none;
    border: 0;
    background-color: aliceblue;
    color: dimgray;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .bottom{
    float: left;
    width: 100%;
    background-color: rgb(234, 245, 255);
  }

  #restaurant{
    float: left;
    outline: none;
    border: 0;
    background-color: transparent;
    color: dimgray;
    font-size: 22px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .btn_my_posts{
    float: right;
  }

  .btn_my_posts button{
    float: right;
    outline: none;
    border: 0;
    background-color: #fff;
    color: dimgray;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .btn_others_posts{
    float: right;
  }

  .btn_others_posts button{
    float: right;
    outline: none;
    border: 0;
    background-color: #fff;
    color: dimgray;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .info{
    position: absolute;
    z-index: 1;
    max-width: 450px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(28, 128, 185, 0.404);
    border-radius: 2px;
    font-size: 16px;
  }

  .info h3{
    font-size: 24px;
    margin-left: 10px;
    padding-top: 18px;
    color: rgb(15, 87, 129);
  }

  #close{
    float: right;
    outline: none;
    border: 0;
    background-color: transparent;
    margin-top: 18px;
    margin-right: 18px;
  }

  #close img{
    width: 20px;
    height: 20px;
  }

  .address{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 45px;
    margin-right: 15px;
  }

  .tel{
    font-size: 20px;
    margin-top: 25px;
  }

  .recommend{
    text-decoration: none;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    line-height: 28px;
    outline: none;
    border: 0;
    background-color: transparent;
    color: rgb(138, 138, 138);
    font-size: 18px;
    text-align: center;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .bestIcon {
    height: 30px;
    margin-right: 5px;
  }

  .addIcon {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .telIcon {
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .commentIcon{
    height: 25px;
    float: left;
    margin-right: 3px;
  }

  .showAllComments{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    line-height: 28px;
    outline: none;
    border: 0;
    background-color: transparent;
    color: rgb(138, 138, 138);
    font-size: 18px;
    text-align: center;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .btn0{
    float: right;
    width: 325px;
  }

  .btn{
    z-index: 2;
    float: left;
    width: 325px;
    position: relative;
    left: 50%;
    margin-left: -162.5px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .btn button{
    outline: none;
    border: 0;
    background-color: rgb(234, 245, 255);
    color: dimgray;
    font-size: 18px;
    width: 105px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-right: 3px;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .postArea{
    float: left;
    width: 420px;
  }

  .postInput{
    min-width: 100%;
    height: 150px;
    display: table;
  }

  .postArea img{
    width: 50px;
    height: 50px;
    float: left;
    display:table-cell;
    vertical-align: middle;
    margin-left: 20px;
  }

  .eatTimeTerm{
    width: 280px;
    height: 30px;
    float: left;
    display: table-cell;
    vertical-align: middle;
    background-color: aliceblue;  
    border: 0.5px solid rgb(208, 232, 253);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: "Microsoft JhengHei UI", sans-serif;
    color: dimgray;
    margin-left: 40px;
    margin-bottom: 20px;
  }

  .postTerm{
    width: 280px;
    min-height: 130px;
    float: left;
    display: table-cell;
    vertical-align: middle;
    background-color: aliceblue;  
    border: 0.5px solid rgb(208, 232, 253);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: "Microsoft JhengHei UI", sans-serif;
    color: dimgray;
    margin-left: 40px;
  }

  .btn2 button{
    outline: none;
    border: 0;
    background-color: rgb(234, 245, 255);
    color: dimgray;
    font-size: 18px;
    width: 60px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .btn2{
    width: 130px;
    margin-left: 40px;
    margin-bottom: 30px;
  }

  .commentArea{
    float: left;
    width: 420px;
  }

  .commentInput{
    width: 100%;
    height: 70px;
    display: table;
  }

  .commentArea img{
    width: 50px;
    height: 50px;
    float: left;
    display:table-cell;
    vertical-align: middle;
    margin-left: 20px;
  }

  .commentTerm{
    width: 280px;
    min-height: 70px;
    float: left;
    display: table-cell;
    vertical-align: middle;
    background-color: aliceblue;  
    border: 0.5px solid rgb(208, 232, 253);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: "Microsoft JhengHei UI", sans-serif;
    color: dimgray;
    margin-left: 40px;
  }

  .btn3{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .btn3 button{
    outline: none;
    border: 0;
    background-color: rgb(234, 245, 255);
    color: dimgray;
    font-size: 18px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .allComments{
    width: 100%;
    float: left;
  }

  .comments{
    height: 80px;
    margin-bottom: 30px;
  }

  .comments img{
    width: 50px;
    height: 50px;
    float: left;
    display:table-cell;
    vertical-align: middle;
    margin-left: 20px;
  }

  .commentContent{
    width: 280px;
    min-height: 70px;
    float: left;
    background-color: aliceblue;  
    border: 0.5px solid rgb(208, 232, 253);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    font-family: "Microsoft JhengHei UI", sans-serif;
    color: dimgray;
    margin-left: 20px;
  }

  .commentContent p{
    padding: 10px;
    word-wrap : break-word;
  }

  .btnOption{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .btnOption button{
    outline: none;
    border: 0;
    background-color: rgb(234, 245, 255);
    color: dimgray;
    font-size: 16px;
    width: 85px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 8px;
    font-family: "Microsoft JhengHei UI", sans-serif;
  }

  .footer{
    width: 98%;
    margin: auto;
    background-color: #EDF7FF;
    padding-bottom: 30px;
  }

  .left{
    width: 330px;
    margin-left: 50px;
    padding-top: 30px;
  }

  .logo_footer{
    width: 200px;
  }

  .left h3{
    font-size: 30px;
    margin-top: 20px;
  }

  .left p{
    width: 330px;
    margin-top: 10px;
    font-size: 16px;
  }

  .right{
    width: 330px;
    margin-left: 500px;
    margin-top: -120px;
  }

  .footer ::placeholder {
    color: rgb(165, 165, 165);
  }

  .questionTerm{
    outline: none;
    margin-left: 50px;
    margin-top: 30px;
    width: 340px;
    height: 80px;
    background: transparent;  
    border: 0.1px solid dimgray;
    font-size: 16px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-family: "Microsoft JhengHei UI", sans-serif;
    color: dimgray;
  }
  
  .emailArea{
    width: 340px;
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
  }

  .emailTerm{
    outline: none;
    width: 100%;
    height: 40px;
    background: none;  
    border: 0.1px solid dimgray;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-size: 16px;
    font-family: "Microsoft JhengHei UI", sans-serif;
    color: dimgray;
  }
  
  .submitBtn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0px;
    outline: none;
  }

  .contact{
    width: 30px;
    height: 30px;
  }

  .toTop {
    z-index: 5;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 33%;
    opacity: 0.6;
    background: dimgray;
    cursor: pointer;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
  }

  .toTop::before, .toTop::after {
    width: 18px;
    height: 5px;
    border-radius: 3px;
    background: aliceblue;
    position: absolute;
    content: "";
  }

  .toTop::before {
    transform: rotate(-45deg) translate(0, -50%);
    left: 0.5rem;
  }

  .toTop::after {
    transform: rotate(45deg) translate(0, -50%);
    right: 0.5rem;
  }

  .toTop:focus {
    outline: none;
  }

  @media (max-width:1100px){
    #menu{
      left: 62%;
      min-width: 38%;
    }

    .title{
      width: 100%;
    }

    .content{
      width: 100%;
    }

    .status{
      width: 100%;
    }

    .statusContent{
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .footer{
      width: 100%;
    }

    .left{
      width: 85%;
      margin: auto;
      margin-left: 50px;
    }

    .right{
      width: 90%;
      margin: auto;
      margin-left: -3px;
    }

  }

  @media (max-width:480px){
    #menu{
      left: 40%;
      min-width: 60%;
    }

    .statusContent{
      width: 90%;
      margin-bottom: 30px;
      margin-top: 30px;
    }

    .writerImg{
      width: 20%;
      height: auto;
      margin-left: 7.5%;
    }
    
    .writer{
      width: 60%;
      margin-left: 3%;
    }
    
    .time{
      width: 60%;
      margin-left: 3%;
    }

    .post_detail{
      width: 90%;
    }

    .info{
      width: 90%;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .postArea{
      width: 90%;
    }

    .postArea img{
      width: 18%;
      height: auto;
      margin-left: 5%;
    }
  
    .eatTimeTerm{
      width: 70%;
      margin-left: 5%;
    }
    
    .postTerm{
      width: 70%;
      margin-left: 5%;
    }
  
    .btn2{
      margin-left: 10%;
    }

    .commentArea{
      width: 90%;
    }

    .commentArea img{
      width: 18%;
      height: auto;
      margin-left: 5%;
    }

    .commentTerm{
      width: 70%;
      margin-left: 5%;
    }
    
    .btn3{
      margin-left: 8%;
    }

    .btnOption{
      margin-left: 8%;
    }

    .allComments{
      width: 90%;
    }
  
    .comments img{
      width: 18%;
      height: auto;
      margin-left: 5%;
    }
  
    .commentContent{
      width: 70%;
      margin-left: 5%;
    }

    .left{
      width: 85%;
    }
  
    .left p{
      width: 85%;
    }
  
    .right{
      width: 85%;
    }
  
    .questionTerm{
      width: 85%;
    }
    
    .emailArea{
      width: 85%;
    }
  }

